/* contact.module.css */
.head {
  color: green;
  
}

.container {
  display: flex;
  align-items: flex-start;
  margin-top: 7%;
  gap: 30px;
}

.imageContainer img {
  max-width: 100%;
  border-radius: 10px;
}

.card {
  flex: 1;
  transition: transform 0.3s ease-in-out;
  border: none;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 20px;
 margin-left: 50px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 4px 15px rgba(0, 128, 0, 0.3);
}

.inputField {
  border: 1px solid green !important;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.btn:hover {
  background-color: green;
  border: none;
}

.verticalDivider {
  border: none;
  border-left: 2px solid #000;
  height: 100%;
  margin: 0 20px;
}

.addressCard {
  flex: 1;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}
