.homepage-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* Shared styling for video and image containers */
.custom-container {
  position: relative;
  width: 100%;
  height: auto; /* Set height to auto to maintain aspect ratio */
  overflow: hidden;
  margin-bottom: -282px; /* Remove space between sections */
  padding: 0;
  top: 0;
}

/* Reset global margins and padding */
body, html, p {
  margin: 0;
  padding: 0;
}

/* Video styles */
.background-video {
  object-fit: cover;
  z-index: -1; 
  opacity: 0.6; 
  width: 100%;
  height: auto; 
  position: relative;
  top: -282px;
}



/* Overlay content */
.content-overlay {
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  z-index: 1; 
  text-align: center;
}

.second-image .content-overlay {
  color: yellow; /* Different color for the text */
  font-size: 20px;
}

.styled-paragraph {
  font-size: 30px; /* Adjust font size */
  font-weight: bold;
  color: rgb(25, 225, 25);
  text-align: center;
  letter-spacing: 2px; /* Optional for spacing */
}

.styled-paragraph .highlight {
  background-color: #f0f93c; /* Green background for SCRAP */
  color: white; /* White text for contrast */
  padding: 5px 10px; /* Add padding for better appearance */
  border-radius: 5px; /* Rounded corners */
}

.subtext {
  font-size: 18px;
  color: rgb(12, 3, 3);
  text-align: center;
  margin-top: 10px; 
  font-weight: 400;
  letter-spacing: 1px; 
}

.custom-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.additional-text {
  margin-top: 20px;
  font-size: 18px;
  color: black;
}
