
.container{
  margin-top: 8%;
}
h1{
  color: green !important;
  
}
.value{
  background-color: green !important;
  color: aliceblue;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 450;
}
.plastic{
  background-color: green;
  color: white;
  padding: 7px;
  border-radius: 10px;

}
.plastic:hover{
  background-color: orange !important;
  color: white;
  
}
.sell-btn{
  background-color: green;
  color: white;
  padding: 7px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 80px;
}
.sell-btn:hover{
  background-color: orange !important;
  color: white;
  border: none !important;;
}
.d-block{
  height: 300px !important;
}
.cust-say{
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%); /* Makes the default white icons black */
}
